<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-ios-cml-permissions" version="1.4.4" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>iOS Camera/Mircophone/Location Permissions</name>
    <author>Dmitriy Karasyov</author>
    <description>Cordova / PhoneGap Plugin Permission Settings for NSCameraUsageDescription, NSMicrophoneUsageDescription, NSPhotoLibraryAddUsageDescription, NSPhotoLibraryUsageDescription, NSLocationWhenInUseUsageDescription, NSLocationAlwaysAndWhenInUseUsageDescription and NSLocationAlwaysUsageDescription in iOS 11 by adding a declaration to the Info.plist file</description>
    <keywords>cordova, ios, app, security, permissions, nscamerausagedescription, nsmicrophoneusagedescription, nsphotolibraryaddusagedescription, nsphotolibraryusagedescription, nslocationwheninuseusagedescription, nslocationalwaysandwheninuseusagedescription, nslocationalwaysusagedescription</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
        <preference name="CAMERA_USAGE_DESCRIPTION" default="Доступ необходим для того, чтобы из приложения Вы могли делать фотографии"/>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="MICROPHONE_USAGE_DESCRIPTION" default="Доступ необходим для того, чтобы из приложения Вы могли записывать аудио"/>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" default="Доступ необходим для того, чтобы из приложения Вы могли добавлять фотографии в галерею"/>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
            <string>$PHOTOLIBRARY_ADD_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default="Доступ необходим для того, чтобы из приложения Вы могли прикрепить фотографии из галереи"/>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="LOCATION_WHEN_IN_USAGE_DESCRIPTION" default="Доступ необходим для того, чтобы из приложения мы могли запомнить координаты Вашего месторасположения"/>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$LOCATION_WHEN_IN_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="LOCATION_ALWAYS_AND_WHEN_IN_USAGE_DESCRIPTION" default="Доступ необходим для того, чтобы из приложения мы могли запомнить координаты Вашего месторасположения"/>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$LOCATION_ALWAYS_AND_WHEN_IN_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="LOCATION_ALWAYS_USAGE_DESCRIPTION" default="Доступ необходим для того, чтобы из приложения мы могли запомнить координаты Вашего месторасположения"/>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$LOCATION_ALWAYS_USAGE_DESCRIPTION</string>
        </config-file>
    </platform>
</plugin>
